{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'smart_weather/bootstrap.min.css' %}">
    <link rel='icon' href="{% static 'smart_weather/images/favicon.png' %}"" type='image/x-icon'/ >
    <title>Smart Weather</title>
    <meta name="description" content="A weather app that recommends you what to wear based on the current weather">
    <meta name="keywords" content="smart weather, smart weather app, smart weather 101">
    <meta name="author" content="Sangye Tenphel">
</head>
<body>
    <div class="container mt-5">
        <div class="col md-6 m-auto">
            <h3 class="text-center mb-3">
                <i class="fas fa-city"></i> Please add a city 
            </h3>
            <div class="form-group">
                <input type="text" id="search" class="form-control form-control-lg" placeholder="Enter a city">
            </div>
            <div id="match-list"></div>
        </div>
    </div>
    <script src="{% static 'smart_weather/main.js' %}"></script>
</body>
</html> 